.container {
  padding: 0 370px;
  display: flex;
  justify-content: space-around;

  @media (max-width: 1329px) {
    padding: 0 250px;
  }
  @media (max-width: 1119px) {
    padding: 0 70px;
  }
  @media (max-width: 769px) {
    padding: 0px;
  }
}
app-navbar {
  width: 100%;
}
app-library {
  width: 100%;
}
